<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /hotel_sis/

    # Redirigir todas las solicitudes a la carpeta public
    RewriteRule ^$ public/ [L,R=301]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>
